@model TechAndTools.Web.InputModels.Addresses.AddressCreateInputModel

@{
    ViewData["Title"] = "Create";
}

<div class="section">
    <div class="container">
        <div class="row">
            <form method="post" asp-controller="Addresses" asp-action="Create">
                <div class="col-md-6">
                    <div class="section-title">
                        <h3 class="title">Add Address:</h3>
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.Country" class="input" type="text" name="Country" placeholder="Country" />
                        <span asp-validation-for="@Model.Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.City" class="input" type="text" name="City" placeholder="City" />
                        <span asp-validation-for="@Model.City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.Quarter" class="input" type="text" name="Quarter" placeholder="Quarter" />
                        <span asp-validation-for="@Model.Quarter" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="All" class="text-danger mt-3"></div>
                    <div class="form-group">
                        <input asp-for="@Model.Street" class="input" type="text" name="Street" placeholder="Street" />
                        <span asp-validation-for="@Model.Street" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.PostCode" class="input" type="number" name="PostCode" placeholder="Post Code" />
                        <span asp-validation-for="@Model.PostCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn primary-btn text-white">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}

