@model IEnumerable<TechAndTools.Web.ViewModels.Products.ProductIndexViewModel>

@{
    ViewData["Title"] = "Home";
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/css/shop_styles.css">
}

<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop_sidebar">

                    @await Component.InvokeAsync("CategoriesFilter")

                    @await Component.InvokeAsync("PriceFilter")

                    <div class="sidebar_section filter_by_section">
                        <div class="sidebar_title"> Филтрирай по</div>
                        <div class="sidebar_subtitle"> Цена</div>
                        <div class="filter_price">
                            <div id="slider-range" class="slider_range"></div>
                            <p>Range: </p>
                            <p><input type="text" id="amount" class="amount" readonly style="border: 0; font-weight: bold;"></p>
                        </div>
                    </div>

                    @await Component.InvokeAsync("BrandsFilter")

                </div>

            </div>

            <div class="col-lg-9">
                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_sorting">
                            <span>Sort by:</span>
                            <ul>
                                <li>
                                    <span class="sorting_text">Име<i class="fas fa-chevron-down"></i></span>
                                    <ul>
                                        @*<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>highest rated</li>*@
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>Име</li>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "price" }'>Цена</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product_grid">
                        <div class="product_grid_border"></div>
                        @foreach (var product in Model)
                        {
                            <div class="product_item is_new">
                                <div class="product_border"></div>
                                <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="@product.ImageUrl" alt=""></div>
                                <div class="product_content">
                                    <div class="product_price">@product.Price лв.</div>
                                    <div class="product_name"><div><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" tabindex="0">@product.Name</a></div></div>
                                </div>
                                @if (product.IsOutOfStock)
                                {
                                    <div class="text-center text-danger">Out Of Stock</div>
                                }
                                else
                                {
                                    <div class="d-flex justify-content-between  mt-1">
                                        <div>
                                            <a class="btn btn-outline-primary mr-1" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@product.Id" asp-route-quantity="1"><i class="fa fa-cart-plus"></i></a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-primary" asp-controller="Favorites" asp-action="AddToFavorites" asp-route-id="@product.Id"><i class="fas fa-heart"></i></a>
                                        </div>
                                    </div>
                                }
                            </div>
                        }

                    </div>
                    <div class="shop_page_nav d-flex flex-row">
                        <div class="page_prev d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div>
                        <ul class="page_nav d-flex flex-row">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">21</a></li>
                        </ul>
                        <div class="page_next d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-right"></i></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/shop_custom.js"></script>
}
