@model TechAndTools.Web.InputModels.Orders.OrderCreateInputModel

@{
    ViewData["Title"] = "Create";
}
<div class="section">
    <div class="container-fluid">
        <div class="row">
            <form id="checkout-form" class="clearfix" method="post" asp-controller="Orders" asp-action="Create">
                <div class="col-md-6">
                    <div class="section-title">
                        <h3 class="title">Billing Details</h3>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Телефонен номер" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="shipping-methods">
                        <div class="section-title">
                            <h4 class="title">Supplier</h4>
                        </div>
                        @foreach (var supplier in Model.SuppliersViewModel)
                        {
                            <div class="form-group mb-0">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>
                                            <input asp-for="SupplierId" type="radio" value="@supplier.Id" checked />
                                            <span class="font-weight-bold">@supplier.Name</span>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        Address:$ @supplier.PriceToAddress / Office:$ @supplier.PriceToOffice
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="payments-methods">
                        <div class="section-title">
                            <h3 class="title">Payments Methods</h3>
                        </div>
                        @foreach (var method in Model.PaymentMethodViewModels)
                        {
                            <div class="input-checkbox">
                                <input asp-for="PaymentMethodId" type="radio" value="@method.Id" checked>
                                <label for="@method.Name">@method.Name</label>
                            </div>
                        }
                    </div>

                    <div class="shipping-methods">
                        <div class="section-title">
                            <h4 class="title">Shipping To</h4>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input asp-for="ShippingTo" type="radio" id="Address" value="Address" checked>
                                    <label for="Address"> Address</label>
                                </div>
                                <div class="col-md-6">
                                    <input asp-for="ShippingTo" type="radio" id="Office" value="Office">
                                    <label for="Office"> Office</label>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="ShippingTo" class="text-danger"></span>
                    </div>

                    <div class="delivery-addresses">
                        <div class="section-title">
                            <h3 class="title">Delivery Address:</h3>
                        </div>
                        <ul>
                            @foreach (var address in Model.AddressesViewModels)
                            {
                                <li>
                                    <label>
                                        <input asp-for="DeliveryAddressId" type="radio" value="@address.Id" checked />
                                        @address.Country @address.City, @address.Quarter, @address.Street, @address.PostCode
                                    </label>
                                    <hr />
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="text-right mt-1">
                        <a class="btn primary-btn" asp-area="" asp-controller="Addresses" asp-action="Create">Add New Address</a>
                    </div>
                </div>

                <div class="col-md-12 mx-auto">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Order Review</h3>
                        </div>
                        <table class="shopping-cart-table table">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th></th>
                                <th class="text-center">Price</th>
                                <th class="text-right"></th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var product in Model.ShoppingCartProductViewModels)
                            {
                                <tr>
                                    <td class="thumb"><img src="@product.ImageUrl" alt=""></td>
                                    <td class="details">
                                        <a href="#">@product.Name</a>
                                    </td>
                                    <td class="price text-center"><strong>$@product.Price</strong><br></td>
                                    <td></td>
                                    <td class="qty text-center"><input class="input" type="number" value="1"></td>
                                    <td class="total text-center"><strong class="primary-color">$@product.TotalPrice</strong></td>
                                </tr>
                            }
                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="empty" colspan="4"></th>
                                <th>TOTAL</th>
                                <th colspan="2" class="total">$@Model.ShoppingCartProductViewModels.Sum(p => p.Price)</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="pull-right">
                    <button class="btn primary-btn">Place Order</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
