@model TechAndTools.Web.InputModels.Orders.CreateOrderInputModel

@{
    ViewData["Title"] = "Create";
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/css/cart_styles.css">
}

<div class="container">
    <div class="col-md-12">
        <form id="checkout-form" class="row clearfix" method="post" asp-controller="Orders" asp-action="Create">
            <div class="col-md-6">
                <div class="shipping-methods">
                    <hr />
                    <h4 class="title">Supplier</h4>
                    <hr />
                    @foreach (var supplier in Model.SuppliersViewModel)
                    {
                        <div class="form-group mb-0">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>
                                        <input asp-for="SupplierId" type="radio" value="@supplier.Id" checked />
                                        <span class="font-weight-bold">@supplier.Name</span>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    Address:$ @supplier.PriceToAddress / Office:$ @supplier.PriceToOffice
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="shipping-methods">
                    <hr />
                    <h4 class="title">Shipping To</h4>
                    <hr />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input asp-for="ShippingTo" type="radio" id="Address" value="Address" checked>
                                <label for="Address"> Address</label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="ShippingTo" type="radio" id="Office" value="Office">
                                <label for="Office"> Office</label>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="ShippingTo" class="text-danger"></span>
                </div>
                <hr />
                <h3 class="title">Billing Details</h3>
                <hr />
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Телефонен номер" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="payments-methods">
                    <hr />
                    <h3 class="title">Payments Methods</h3>
                    <hr />
                    @foreach (var method in Model.PaymentMethodViewModels)
                    {
                        <div class="input-checkbox">
                            <input asp-for="PaymentMethodId" type="radio" value="@method.Id" checked>
                            <label for="@method.Name">@method.Name</label>
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-6">
                <div class="delivery-addresses">
                    <hr />
                    <h3 class="title">Delivery Address:</h3>
                    <hr />
                    <ul>
                        @foreach (var address in Model.AddressesViewModels)
                        {
                            <li>
                                <label>
                                    <input asp-for="AddressId" type="radio" value="@address.Id" checked />
                                    @address.Country @address.City, @address.Quarter, @address.Street, @address.PostCode
                                </label>
                                <hr />
                            </li>
                        }
                    </ul>
                </div>
                <div class="text-right mt-1">
                    <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Addresses" asp-action="Create"> New Address</a>
                </div>
                <div class="cart_container">
                    <div class="cart_items">
                        <ul class="cart_list">
                            @foreach (var product in Model.ShoppingCartProductViewModels)
                            {
                                <li class="cart_item clearfix">
                                    <div class="cart_item_image"><img src="@product.ImageUrl" alt=""></div>
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                        <div class="cart_item_name cart_info_col">
                                            <div class="cart_item_title">Name</div>
                                            <div class="cart_item_text">@product.Name</div>
                                        </div>
                                        <div class="cart_item_quantity cart_info_col">
                                            <div class="cart_item_title">Quantity</div>
                                            <div class="cart_item_text">@product.Quantity</div>
                                        </div>
                                        <div class="cart_item_price cart_info_col">
                                            <div class="cart_item_title">Price</div>
                                            <div class="cart_item_text">@product.Price</div>
                                        </div>
                                        <div class="cart_item_total cart_info_col">
                                            <div class="cart_item_title">Total</div>
                                            <div class="cart_item_text">@product.TotalPrice</div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>

                    <!-- Order Total -->
                    <div class="order_total">
                        <div class="order_total_content text-md-right">
                            <div class="order_total_title">Order Total:</div>
                            <div class="order_total_amount">@Model.ShoppingCartProductViewModels.Sum(x => x.Price * x.Quantity)</div>
                        </div>
                    </div>
                    <div class="cart_buttons">
                        <button class="cart_buttons btn btn-lg btn-primary">Place Order</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <script src="~/js/cart_custom.js"></script>
}
