@model TechAndTools.Web.ViewModels.Orders.DetailsOrderViewModel

@{
    ViewData["Title"] = "Details";
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/css/cart_styles.css">
}


<div class="mobile-fondsize-20 h2 font-weight-bold text-center">Детайли за поръчката</div>
<div class="container">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="mobile-fondsize-20 h6 font-weight-bold">
                    Данни за пратката:
                    <p class="mb-0"><strong>Получател:</strong> @Model.Recipient</p>
                    <p class="mb-0"><strong>Номер на получателя:</strong> @Model.RecipientPhoneNumber</p>
                    <p class="mb-0"><strong>Град:</strong> @Model.AddressCity</p>
                    <p class="mb-0"><strong>Пощенски код:</strong> @Model.AddressPostCode</p>
                    <p class="mb-0"><strong>Улица:</strong> @Model.AddressStreet</p>
                    <p class="mb-0"><strong>Допълнително описание:</strong> @Model.AddressCountry</p>
                    <p class="mb-0"><strong>Цена за доставка:</strong> @Model.DeliveryPrice лв.</p>
                    <p class="mb-0"><strong>Цена за продуктите:</strong> @Model.TotalPrice лв.</p>
                </div>
                <div class="mobile-fondsize-20 h6 font-weight-bold">
                    Други детайли:
                    <p class="mb-0"><strong>Номер на поръчката:</strong> @Model.Id</p>
                    <p class="mb-0"><strong>Статус на поръчката:</strong> @Model.OrderStatusName</p>
                    <p class="mb-0"><strong>Статус на плащане:</strong> @Model.PaymentStatusName</p>
                    <p class="mb-0"><strong>Метод на плащане:</strong> @Model.PaymentMethodName</p>
                    <p class="mb-0"><strong>Дата на поръчката:</strong> @Model.OrderDate</p>
                    <p class="mb-0"><strong>Очакванр дата за получаване:</strong> @Model.ExpectedDeliveryDate</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cart_container">
                    <div class="cart_items">
                        <ul class="cart_list">
                            @foreach (var product in Model.OrderProducts)
                            {
                                <li class="cart_item clearfix">
                                    <div class="cart_item_image"><img src="@product.ImageUrl" alt=""></div>
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                        <div class="cart_item_name cart_info_col">
                                            <div class="cart_item_title">Name</div>
                                            <div class="cart_item_text">@product.Name</div>
                                        </div>
                                        <div class="cart_item_quantity cart_info_col">
                                            <div class="cart_item_title">Quantity</div>
                                            <div class="cart_item_text">@product.Quantity</div>
                                        </div>
                                        <div class="cart_item_price cart_info_col">
                                            <div class="cart_item_title">Price</div>
                                            <div class="cart_item_text">@product.Price</div>
                                        </div>
                                        <div class="cart_item_total cart_info_col">
                                            <div class="cart_item_title">Total</div>
                                            <div class="cart_item_text">@product.TotalPrice</div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="order_total">
                        <div class="order_total_content text-md-right">
                            <div class="order_total_title">Order Total:</div>
                            <div class="order_total_amount">@Model.OrderProducts.Sum(x => x.Price * x.Quantity)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <script src="~/js/cart_custom.js"></script>
}
