@model IEnumerable<TechAndTools.Web.ViewModels.Suppliers.SupplierAllViewModel>

@{
    ViewData["Title"] = "All";
}

<h2>All Suppliers</h2>

<a asp-action="Create" class="btn primary-btn">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceToOffice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceToAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumDeliveryTimeDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumDeliveryTimeDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceToOffice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceToAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimumDeliveryTimeDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaximumDeliveryTimeDays)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
