@model IEnumerable<TechAndTools.Web.ViewModels.Products.ProductAllViewModel>

@{
    ViewData["Title"] = "All";
}

<div class="mx-auto pt-3">
    <h1 class="jumbotron text-center text-black-50">Products</h1>

    <a asp-action="Create" class="btn btn-primary">Create New</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    Picture
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Category
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        <img src="@item.Images.FirstOrDefault()?.ImageUrl" width="60" height="60">
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.ProductCategoryName
                    </td>
                    <td>
                        <a class="btn btn-sm btn-warning" asp-area="Administration" asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#flipFlop">
                            Delete
                        </button>
                        <div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="modalLabel">Are you sure?</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-danger" asp-area="Administration" asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id">Confirm</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

