@model IEnumerable<TechAndTools.Web.ViewModels.Products.ProductAllViewModel>

@{
    ViewData["Title"] = "All";
}

<div class="mx-auto pt-3">
    <h1 class="jumbotron text-center text-black-50">Products</h1>

    <a asp-action="Create" class="btn btn-primary">Create New</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    Picture
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Category
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        <img src="@item.Images.FirstOrDefault()?.ImageUrl" width="60" height="60">
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.ProductCategoryName
                    </td>
                    <td>
                        <a asp-area="Administration" asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-area="Administration" asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

