@model IEnumerable<TechAndTools.Web.ViewModels.Brands.BrandIndexViewModel>

@{
    ViewData["Title"] = "All";
}

<div class="col-md-8">
    <h2>All</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LogoUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OfficialSite)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LogoUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OfficialSite)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


